<div class="container inner-page">

<h2>Mi Lugar</h2>

<div id='content'>
    <section class='mainContent'>
      <div class='productRow'>
        {{#with placeId}}
        <article class='myplace'>
          <div><img src="{{this.image}}" alt="{{this.name}}" height="100" width="auto"></div>
          <h3>{{this.name}}</h3>
          <a href="/private/place/{{this._id}}/edit"><button class="editButton">Edit</button></a>
          <form action="/private/place/{{this._id}}/delete" method="POST">
          <button class="deleteButton" type="submit">Delete place</button>
          </form> 
        </article>
        {{/with}}
      </div>      
    </section>
  </div>

{{#unless placeId}}

<div class="product-content-edit">
    <img src="{{picture}}" alt="">

    <form action="/private/createplace" method="POST" enctype="multipart/form-data">
      <div class="form-group">
      <input type="text" name="user" value="{{_id}}" hidden>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="{{name}}"> 
      </div>

      <div class="form-group">
      <label for="image">Image:</label>
        <input class="form-control" type="file" name="image" id="image">
      
      </div>
      <input class="btn btn-primary" type="submit" value="Crear mi lugar">
    </form>
  </div>

{{/unless}}

</div>