<main id="host-profile" class="perfil">

<div class="container  inner-page container-profile">
  <h2>Tu perfil</h2>
  <hr>
  <br>
  <div class="left">
    <h2>Bienvenid@ {{name}}</h2>

    <div class="foto">
      <img src="{{image}}" alt="{{name}}">
    </div>

  <div class="botones">
      <button class="btn"><a href="/private/myvolunteerings">Favoritos</a></button>
      <button class="btn"><a href="/private/mycart">Mi carrito</a></button>
    </div>
  </div>

  <div class="right">
    <h3>Tus datos:</h3>
    <p>Nombre: {{name}}</p>
    <p>Email:{{email}}</p>
  </div>
 
</div>

</main>