<h2>Store</h2>

{{#each products}}
  <div class="product-container">
    <img src="{{picture}}" alt="{{name}}" height="100" width="auto">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p class="price">${{price}}</p>
    <a href="private/store/{{_id}}/add"><button>Agregar al carrito</button></a>
  </div>
{{/each}}